<footer>
  <p mt-6 text-sm text-slate>
    <span pr-1>备案号：</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://beian.miit.gov.cn" target="_blank"
    >
      陕ICP备2023003918号
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
